{% extends "base.html" %}
{% block content %}
<h1>login</h1>
<p>Welcome to the login page!</p>
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm-border-0 rounded-3">
            <div class="card-body p-4">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Enter your username" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Enter your password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}